# Variables de entorno para el plugin ranking-futbolin (NO subir a git con valores reales)

# URL base de la API (producción única) https://ranking.fefm.net
# (Dejar vacío para que el plugin use su valor por defecto si lo inyecta internamente)
RF_API_BASEURL=

# Credenciales de login de la API (si aplica)
RF_API_USER=
RF_API_PASS=
